PORT=5014
MONGO_URI=mongodb://127.0.0.1:27017/pargig
JWT_SECRET=replace_me_with_a_long_random_string
JWT_EXPIRES_IN=30d
OTP_TTL_SECONDS=300
PLATFORM_FEE_FLAT=10
PLATFORM_FEE_PERCENT=5
FREE_JOBS_AFTER_LAUNCH=3
WALLET_DEPOSIT_AMOUNT=20
FIRST_JOB_FREE_BELOW=1000
